mat-dialog-actions {
    justify-content: center;
}
.submit-button {
    border-radius: 5px;
    border: none;
    background-color: #fb6d3a;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

button:disabled {
    cursor: default;
    background: #e0d8d7;
    color: #989898;
}

.errors {
    width: 100%;
    min-height: 25px;
    
    small {
        color: red;
    }
}

::ng-deep.mat-form-field-ripple {
    background-color: #FB6D3A !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #FB6D3A !important;
}